name: workflow-release.yml
on:
  push:
    branches: [fix-cicd]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Trigger Render Deploy Hook
      run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
