name: workflow-test.yml
on: pull_request

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
    - name: pull code
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip3 install -r requirements.txt
        # No hay dependencias específicas para este ejemplo, pero se incluiría aquí
    - name: Run unit tests
      run: |
        coverage run -m unittest discover
        coverage report -m
        coverage xml
    - name: Python Coverage Comment
      if: ${{ github.event_name == 'pull_request' }}
      uses: orgoro/coverage@v3.2
      with:
        token: ${{ github.token }}
        coverageFile: 'coverage.xml'